/*Import da Font-Family Lato (com o estilo Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Lato', sans-serif;

}

/*Estilização do Navbar*/
div#navbar{
    height: 80px;
    position: relative;
}

img#logo{
    position: relative;
    height: 70px;
    width: 40px;
    top:3px;
    left: 35px;
}

a#cadastrar{
    background-color: #27436F;
    position: relative;
    border: none;
    width:100px;
    padding: 8px;
    padding-bottom:6px;
    color:white;
    font-size: 10pt;
    left: 84.89%;
    font-family: 'Lato',sans-serif;
    font-size: 12.5pt;
    text-decoration: none;
}

h4#entrar{
    position: relative;
    left: 82.5%;
    bottom: 45.5px;
    width: 6px;
    font-size:13.2pt;
}

h4 a{
    text-decoration: none;
    color:black;
}

/*Estilização do rodapé*/
    footer#rodape{
        position: relative;
        height: 65.5px;
        overflow:hidden;
      

    }

    .botoes{
        overflow: hidden;
        left: 545px;
    }

    img#pagecoin{
        position: relative;
        height: 64px;
        width: 68px;
        bottom:4.8px;
    }

    img#acervo{
        position: relative;
        height: 38px;
        width: 80px;
        top: 3px;
        
    }

    img#sobre{
        position: relative;
        height: 64px;
        width: 68px;
        bottom:2.65px;
    }

/*Estilização do carousel*/

.carousel-item{
    height: 475px;
} 

.carousel-item img{
    height: 475px;
}

