/*Import da Font-Family Lato (com o estilo Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Lato', sans-serif;

}

/*Estilização do Navbar*/
a#cadastrar{
    position: relative;
    top: 2px;
    right: 20px;
    text-decoration: none;
    color: black;
}

img#logo{
    position: relative;
    height: 60px;
    width: 35px;
    left: 35px;
}

a.btn-outline-info{
    /* background-color: #27436F; */
    color: #27436F !important;
    background-color: transparent;
    background-image: none;
    border-color: #27436F !important;
}

a.btn-outline-info:hover{
    background-color: #27436F !important;
    color: #ffffff !important;
}

/*Estilização do rodapé*/

.imagensRodape{
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.list-inline-item:hover{
    filter: invert(30%);
}

a{
    text-decoration: none;
    color: black !important;
}


/*Estilização do carousel*/

.carousel-item{
    height: 100%;
} 

.carousel-item img{
    height: 549px;
}

/* Estilização dos indicadores do carrossel */
ol.carousel-indicators{
    right:50px;
}
