/*Import da Font-Family Lato (com o estilo Bold)*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

form{
    position: relative;
    top: 250px;
    width: 550px;
    height: 120px;
    left: 34%;
    margin-top: -95px;
}

/*Input = Campo de entrada*/
input{
    position: relative;
    padding: 5px;
    width: 341px;
    height: 12px;
    margin-bottom: 10px;
    margin-top: 35px;
}

input#senha{
    left: 1.5px;
}

label#senha{
    position: relative;
    left: 65px;
    bottom: 30px;
}

label#email{
    position: relative;
    left: 65px;
    bottom: 30px;
}

button.btn{
    position: relative;
    left: 122.5px;
    bottom: 35px;
    background-color: #27436F;
    width: 210px;
    height: 30px;
    border:none;
    color: white;
}

/*Classe referente a todos os campos de entrada*/
.campo{
    position: relative;
    right: 8px;
    bottom: 45px;
}

h5{
    text-align: center;
    position: relative;
    top: 285px;
}

/*Imagens*/
img#triangulos{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 380px;
}

img#logo{
    position: relative;
    height: 160px;
    width: 155px;
    top: 90px;
    left: 44.4%;
    padding: 0;
    margin: 0;
}